<!-- Hero Section -->
<section id="hero" class="hero section">

    <img src="OnePage-1.0.0/assets/img/hero-bg-abstract.jpg" alt="" data-aos="fade-in" class="">

    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-out">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1>Sakarya Üniversitesi Kütüphane Rezervasyon Sistemine Hoş geldiniz</h1>
            </div>
        </div>
        <div class="text-center" data-aos="zoom-out" data-aos-delay="100">
            <a routerLink="/reservation" class="btn-get-started">Rezervasyon Yap</a>
        </div>


    </div>


</section><!-- /Hero Section -->
